.game-container {
    background-color: rgba(0, 0, 0, 0.469);
    /* Set the background color to black */
    width: 100%;
    /* Set the width of the container */
    height: 300px;
    /* Set the height of the container */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 0px;
    /* Add some padding inside the container */
    /* border-radius: 10px; */
    /* Optional: Add border-radius for rounded corners */
    color: white;
    /* Set text color to white */
    position: relative;
    /* Ensure .game-object is positioned relative to this container */
}

.animation-container {
    position: relative;
}

.claw {
    position: absolute;
}

.grid-cell {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
}

.grid-row {
    display: flex;
}

.green-box {
    background-color: green;
}

@keyframes moveDown {
    from {
        top: 0;
    }

    to {
        top: 270px;
        /* Adjust this value according to your grid size */
    }
}

@keyframes moveUp {
    from {
        top: 270px;
        /* Adjust this value according to your grid size */
    }

    to {
        top: 0;
    }
}

.claw {
    position: absolute;
    animation-duration: 2s;
    /* Adjust the duration of the animation */
    animation-timing-function: ease-in-out;
    /* Use ease-in-out timing function */
}

.move-down-animation {
    animation-name: moveDown;
}

.move-up-animation {
    animation-name: moveUp;
}