.tutorial-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.tutorial-content {
    flex-grow: 1;
    overflow-y: auto;
    text-align: center;
    /* Center the content inside the tutorial */
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Styling for the buttons */
.navigation-buttons button {
    margin: 10 10px;
    /* Add space between the buttons */
    padding: 5px;
    border-radius: 5px;
}

/* Style "Prev" and "Next" buttons */
.navigation-buttons .prev-button {
    order: 1;
    margin: 5px 5px;
}

.navigation-buttons .next-button {
    order: 3;
    margin: 5px 5px;
}

/* Style "Close" button */
.close-button {
    order: 2;
    padding: 5px;
    border-radius: 5px;
    position: center;
}